@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

:root {
    --bg: #2e3c50;
    --fg: #ffffff;
    --secondaryFg: #b3b3b3;
    --containerBg: #272727;
    --searchBg: var(--containerBg);
    --scrollbarColor: #3f3f3f;
    --fontFamily: 'Roboto Mono', monospace;
}

body {
    background: linear-gradient(180deg, #272727, #66CB66);
    margin: 0px;
}

.language-toggle {
    position: absolute;
    top: 10px;
    right: 10px;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#date-time {
    font-family: sans-serif;
    font-size: 2.5rem;
    font-weight: 600;
    font-family: var(--fontFamily);
    color: var(--fg);
    margin-bottom: 2em;
}

#static-text {
    font-family: sans-serif;
    font-size: 0.7rem;
    font-weight: 100;
    font-family: var(--fontFamily);
    color: var(--fg);
}

a {
    font-family: sans-serif;
    font-size: 0.7rem;
    font-weight: 100;
    font-family: var(--fontFamily);
    color: var(--fg);
}

#static-text-2 {
    font-family: sans-serif;
    font-size: 1.2rem;
    font-weight: 100;
    font-family: var(--fontFamily);
    color: var(--fg);
    margin-bottom: 2em;
}

#search {
    width: 100%;
    height: 100vh;
    background-color: var(--searchBg);
    display: none;
    position: absolute;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#search-field {
    width: 90%;
    padding: 0.75em 1em;
    box-sizing: border-box;
    background-color: var(--searchBg);
    border: solid 0px var(--searchBg);
    font-family: var(--fontFamily);
    font-size: 2rem;
    color: var(--fg);
    outline: none;
    border-radius: 3px;
    margin-bottom: 1em;
    text-align: center;
}

/*
@media only screen and (max-width: 560px) {
    .container {
        height: auto;
    }
    #clock {
        margin-top: 1em;
    }
}
*/
